$clrHilight: #bb8833;
$clrQuestion: #6683fc;
$clrYes: #2f9834;
$clrNo: #ce3f33;
$clrShadow: #bbbbbb;
$clrSpinners: #bbb;
$clrBorders: #bbb;
$clrTruthBorder: #888;
$clrBarYes: #00aa00;
$clrBarNo: #aa0000;
$clrBarBoh: #ddd;
$clrConsensus: #666;
$clrExplanation: #888;
