.colorful {
  color: $clrHilight;
}
.app {
  margin: 10px;
  .topbar {
    // border-bottom: 1px solid $clrBorders;
  }
  .stopbutton {
    margin-top: 30px;
  }
  .mytextcolumns {
    color: $clrMyOrange;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
  }
}